#Ignore HTML
index.html

# Ignore main
src/main.jsx

# Ignore icons, img and music
src/assets/icons/
src/assets/img/
src/assets/music/

# Ignore ESLint
.eslintrc.cjs

#Ignore Prettier
.prettierrc

# Ignore package
package-lock.json
package.json

# Ignore config
postcss.config.js
tailwind.config.js
vite.config.js
