:root {
  --pokedarkblue: #21386e;
  --pokeblue: #2a74ba;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-scale {
    @apply hover:scale-110 transition-transform duration-200;
  }

  .link-wrapper {
    @apply w-[calc((1rem+0.4vh+0.4vw)*5)] text-center text-small;
  }

  .shadow-pokedarkblue {
    text-shadow: -0.5vh 0.5vh 1px var(--pokedarkblue);
  }

  .text-small {
    @apply text-[calc(1rem+0.4vh+0.4vw)];
  }

  .text-normal {
    @apply text-[calc(1rem+0.7vh+0.7vw)];
  }

  .text-large {
    @apply text-[calc(1rem+1vh+1vw)];
  }
}

@layer utilities {
  #root {
    @apply h-full w-full text-white text-normal leading-none flex flex-col items-center;
  }

  #logo-memory-card {
    @apply text-[#ffcb05] shadow-pokedarkblue;
    -webkit-text-stroke: 0.4vh #2a74ba;
  }
}
