:root {
  --pokedarkblue: #21386e;
  --pokeblue: #2a74ba;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-scale {
    @apply hover:scale-110 transition-transform duration-200;
  }

  .btn-difficulty {
    @apply text-2xl lg:text-4xl;
  }

  .link-wrapper {
    @apply w-[100px] lg:w-[150px] text-center;
  }

  .shadow-pokedarkblue {
    text-shadow: -4px 4px 1px var(--pokedarkblue);
  }
}

@layer utilities {
  #root {
    @apply h-full w-full flex flex-col items-center;
  }

  #logo-memory-card {
    @apply text-[#ffcb05] shadow-pokedarkblue;
    -webkit-text-stroke: 3px #2a74ba;
  }
}
