@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Flip Card: https://www.w3schools.com/howto/howto_css_flip_card.asp */
  .card {
    /* Pokemon card size = 63.5 x 88 mm */
    @apply h-[14vh] lg:h-[20vh] xl:h-[25vh] aspect-[0.722];
    perspective: 1000px;
  }

  .card-outer {
    @apply h-full transition-transform duration-300;
  }

  .card:hover .card-outer {
    @apply landscape:-translate-y-[5%];
  }

  .card:hover .card-front {
    @apply landscape:border-white transition-colors duration-300;
  }

  .card-inner {
    @apply h-full w-full relative transition-transform duration-500;
    transform-style: preserve-3d;
  }

  .card-front,
  .card-back {
    @apply h-full w-full bg-pokeblue bg-opacity-75 border-[0.5vh] border-pokedarkblue rounded-md absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .card-front {
    @apply text-white;
  }

  .card-back {
    @apply flip;
  }

  .flip {
    transform: rotateY(180deg);
  }
}
